$orange-900: #FF6838;
$silver-200: #ECECEC;
$gray: #C2C2C2;
$darkBlue-900: #363853;
$dark: #31352B;
$silver-100: #F9FAFF;

%rubik-300 {
	font-family: 'Rubik-Light', 'Open Sans', sans-serif;
  font-weight: 300;
}

%rubik-400 {
	font-family: 'Rubik-Regular', 'Open Sans', sans-serif;
  font-weight: 400;
}

%rubik-400-italic {
	font-family: 'Rubik-Italic', 'Open Sans', sans-serif;
  font-weight: 400;
}

%rubik-500 {
	font-family: 'Rubik-Medium', 'Open Sans', sans-serif;
  font-weight: 500;
}

@mixin mask-bg($pos: center, $repeat: no-repeat, $size: contain) {
	mask-position: $pos;
	mask-repeat: $repeat;
	mask-size: $size;
}
